# ----------------------------
# Virtual Environment
# ----------------------------
myenv/
venv/
env/

# ----------------------------
# Python cache files
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Django files
# ----------------------------
db.sqlite3
*.log

# ----------------------------
# Environment variables (secrets)
# ----------------------------
.env

# ----------------------------
# Static & Media (optional)
# ----------------------------
media/
staticfiles/

# ----------------------------
# IDE / Editor files
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db